default_stages: [pre-commit, pre-push, manual]
fail_fast: false

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.10
    hooks:
      - id: uv-lock

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: 
          - "aiosqlite"
          - "fastapi"
          - "scalar_fastapi"
          - "uvicorn"
          - "sqlalchemy"
        args: ["--strict"]
